USE [master]
GO
/****** Object:  Database [FranchiseDB]    Script Date: 4/20/2026 6:36:15 AM ******/
CREATE DATABASE [FranchiseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FranchiseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FranchiseDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FranchiseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FranchiseDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FranchiseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FranchiseDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMethods]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMethods](
	[ContactMethodId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ContactMethods] PRIMARY KEY CLUSTERED 
(
	[ContactMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[FavoriteId] [int] IDENTITY(1,1) NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
	[FranchiseId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[FavoriteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[FeedbackStatusId] [int] NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackStatuses]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackStatuses](
	[FeedbackStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[FileId] [int] IDENTITY(1,1) NOT NULL,
	[FileUri] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Franchisers]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Franchisers](
	[FranchiserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[INN] [nvarchar](max) NOT NULL,
	[Website] [nvarchar](max) NULL,
	[Contacts] [nvarchar](max) NULL,
 CONSTRAINT [PK_Franchisers] PRIMARY KEY CLUSTERED 
(
	[FranchiserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Franchises]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Franchises](
	[FranchiseId] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[PledgeAmount] [decimal](18, 2) NOT NULL,
	[InvestmentAmount] [decimal](18, 2) NOT NULL,
	[PaybackPeriod] [int] NOT NULL,
	[RoyaltyPercent] [decimal](5, 2) NOT NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
	[FinalPrice] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[MinPhotoUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[FranTypeId] [int] NOT NULL,
	[PremTypesId] [int] NOT NULL,
	[FranStatusId] [int] NOT NULL,
	[FranchiserId] [int] NOT NULL,
 CONSTRAINT [PK_Franchises] PRIMARY KEY CLUSTERED 
(
	[FranchiseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FranchiseTags]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FranchiseTags](
	[FranchiseTagId] [int] IDENTITY(1,1) NOT NULL,
	[FranchiseId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_FranchiseTags] PRIMARY KEY CLUSTERED 
(
	[FranchiseTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FranStatuses]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FranStatuses](
	[FranStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_FranStatuses] PRIMARY KEY CLUSTERED 
(
	[FranStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FranTypes]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FranTypes](
	[FranTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_FranTypes] PRIMARY KEY CLUSTERED 
(
	[FranTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModerSts]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModerSts](
	[ModerStId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ModerSts] PRIMARY KEY CLUSTERED 
(
	[ModerStId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[PublishDate] [datetime2](7) NOT NULL,
	[NewsStatusId] [int] NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsStatuses]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsStatuses](
	[NewsStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](max) NOT NULL,
	[Comments] [nvarchar](max) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[FranchiseId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderStatusId] [int] NOT NULL,
	[RegionId] [int] NOT NULL,
	[ContactMethodId] [int] NOT NULL,
	[UsersUserId] [int] NULL,
	[FileId] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[OrderStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_OrderStatuses] PRIMARY KEY CLUSTERED 
(
	[OrderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PremTypeses]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PremTypeses](
	[PremTypesId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[MinArea] [decimal](6, 2) NULL,
	[Requirements] [nvarchar](max) NULL,
 CONSTRAINT [PK_PremTypeses] PRIMARY KEY CLUSTERED 
(
	[PremTypesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceHistories]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceHistories](
	[PriceHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[OldPrice] [decimal](18, 2) NOT NULL,
	[NewPrice] [decimal](18, 2) NOT NULL,
	[ChangeAd] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[FranchiseId] [int] NOT NULL,
 CONSTRAINT [PK_PriceHistories] PRIMARY KEY CLUSTERED 
(
	[PriceHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[RegionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[RegionCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[FranchiseId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ModerStId] [int] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[TagId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Color] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[RegisteredAt] [datetime2](7) NOT NULL,
	[LastLogin] [datetime2](7) NULL,
	[RoleId] [int] NOT NULL,
	[UserStatusId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStatuses]    Script Date: 4/20/2026 6:36:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStatuses](
	[UserStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserStatuses] PRIMARY KEY CLUSTERED 
(
	[UserStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260409202026_11', N'10.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260414010040_FixOrderRelationships', N'10.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260414020632_FixOrderRelationship', N'10.0.5')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (1, N'Маркетплейсы')
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (2, N'Общественное питание')
INSERT [dbo].[Categories] ([CategoryId], [Name]) VALUES (3, N'Розничная торговля')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactMethods] ON 

INSERT [dbo].[ContactMethods] ([ContactMethodId], [Name]) VALUES (1, N'Телефон')
INSERT [dbo].[ContactMethods] ([ContactMethodId], [Name]) VALUES (2, N'Email')
INSERT [dbo].[ContactMethods] ([ContactMethodId], [Name]) VALUES (3, N'WhatsApp')
SET IDENTITY_INSERT [dbo].[ContactMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorites] ON 

INSERT [dbo].[Favorites] ([FavoriteId], [AddedAt], [FranchiseId], [UserId]) VALUES (1, CAST(N'2026-04-09T13:47:16.2600000' AS DateTime2), 1, 3)
INSERT [dbo].[Favorites] ([FavoriteId], [AddedAt], [FranchiseId], [UserId]) VALUES (2, CAST(N'2026-04-09T13:47:16.2600000' AS DateTime2), 3, 4)
INSERT [dbo].[Favorites] ([FavoriteId], [AddedAt], [FranchiseId], [UserId]) VALUES (3, CAST(N'2026-04-09T13:47:16.2600000' AS DateTime2), 4, 5)
SET IDENTITY_INSERT [dbo].[Favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([Id], [Name], [Email], [Phone], [Message], [CreatedAt], [FeedbackStatusId], [UserId]) VALUES (1, N'ааа', N'kot@kot', N'+7(900)1231212', N'ааааааааааааааааа', CAST(N'2026-04-13T18:07:07.0974437' AS DateTime2), 2, NULL)
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[FeedbackStatuses] ON 

INSERT [dbo].[FeedbackStatuses] ([FeedbackStatusId], [Name]) VALUES (1, N'Новое')
INSERT [dbo].[FeedbackStatuses] ([FeedbackStatusId], [Name]) VALUES (2, N'В работе')
INSERT [dbo].[FeedbackStatuses] ([FeedbackStatusId], [Name]) VALUES (3, N'Отвечено')
SET IDENTITY_INSERT [dbo].[FeedbackStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Files] ON 

INSERT [dbo].[Files] ([FileId], [FileUri]) VALUES (1, N'https://img3.stockfresh.com/files/c/cookelma/m/67/1316173_stock-photo-ridiculous-dog-dj.jpg')
SET IDENTITY_INSERT [dbo].[Files] OFF
GO
SET IDENTITY_INSERT [dbo].[Franchisers] ON 

INSERT [dbo].[Franchisers] ([FranchiserId], [Name], [INN], [Website], [Contacts]) VALUES (1, N'Wildberries', N'7727631149', N'https://wildberries.ru', N'+7 (495) 775-55-55')
INSERT [dbo].[Franchisers] ([FranchiserId], [Name], [INN], [Website], [Contacts]) VALUES (2, N'Ozon', N'7727631149', N'https://ozon.ru', N'+7 (495) 775-55-56')
INSERT [dbo].[Franchisers] ([FranchiserId], [Name], [INN], [Website], [Contacts]) VALUES (3, N'Старик Хинкалич', N'7727631150', N'https://starik-hinkalich.ru', N'+7 (495) 775-55-57')
SET IDENTITY_INSERT [dbo].[Franchisers] OFF
GO
SET IDENTITY_INSERT [dbo].[Franchises] ON 

SET IDENTITY_INSERT [dbo].[Franchises] OFF
GO
SET IDENTITY_INSERT [dbo].[FranchiseTags] ON 

INSERT [dbo].[FranchiseTags] ([FranchiseTagId], [FranchiseId], [TagId]) VALUES (1, 1, 1)
INSERT [dbo].[FranchiseTags] ([FranchiseTagId], [FranchiseId], [TagId]) VALUES (2, 1, 5)
INSERT [dbo].[FranchiseTags] ([FranchiseTagId], [FranchiseId], [TagId]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[FranchiseTags] OFF
GO
SET IDENTITY_INSERT [dbo].[FranStatuses] ON 

INSERT [dbo].[FranStatuses] ([FranStatusId], [Name]) VALUES (1, N'Активна')
INSERT [dbo].[FranStatuses] ([FranStatusId], [Name]) VALUES (2, N'На модерации')
INSERT [dbo].[FranStatuses] ([FranStatusId], [Name]) VALUES (3, N'Архив')
SET IDENTITY_INSERT [dbo].[FranStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[FranTypes] ON 

INSERT [dbo].[FranTypes] ([FranTypeId], [Name]) VALUES (1, N'Паушальная франшиза')
INSERT [dbo].[FranTypes] ([FranTypeId], [Name]) VALUES (2, N'Роялти франшиза')
INSERT [dbo].[FranTypes] ([FranTypeId], [Name]) VALUES (3, N'Мастер-франшиза')
SET IDENTITY_INSERT [dbo].[FranTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[ModerSts] ON 

INSERT [dbo].[ModerSts] ([ModerStId], [Name]) VALUES (1, N'На проверке')
INSERT [dbo].[ModerSts] ([ModerStId], [Name]) VALUES (2, N'Одобрено')
INSERT [dbo].[ModerSts] ([ModerStId], [Name]) VALUES (3, N'Отклонено')
SET IDENTITY_INSERT [dbo].[ModerSts] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsId], [Title], [Text], [ImageUrl], [PublishDate], [NewsStatusId]) VALUES (16, N'Тренды франчайзинга: что ждет рынок в 2024?', N'Эксперты прогнозируют рост спроса на образовательные и детские франшизы. Также набирают популярность проекты в сфере услуг и общественного питания. Минимальные инвестиции в популярные франшизы начинаются от 500 000 рублей. Важный тренд - цифровизация бизнес-процессов и внедрение CRM-систем.', N'https://proresult.by/wp-content/uploads/2025/02/trendy-franshizinga.jpg', CAST(N'2026-04-12T17:21:05.4266667' AS DateTime2), 5)
INSERT [dbo].[News] ([NewsId], [Title], [Text], [ImageUrl], [PublishDate], [NewsStatusId]) VALUES (17, N'История успеха: открытие пекарни с нуля', N'Иван Петров из небольшого региона запустил успешную сеть пекарен. Начав с одной точки, за три года он расширился до 8 заведений. Секрет успеха - качественная продукция, продуманная локация и поддержка франчайзера. Сейчас Иван ищет новые помещения для расширения.', N'https://miroresort.com/upload/uf/4b5/m8ck7l1zdyv8q3r2t5u6w7x8y9z0a1b2/pekarnya.jpg', CAST(N'2026-04-07T17:21:05.4266667' AS DateTime2), 5)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsStatuses] ON 

INSERT [dbo].[NewsStatuses] ([NewsStatusId], [Name], [Description]) VALUES (4, N'Черновик', N'Новость не видна пользователям')
INSERT [dbo].[NewsStatuses] ([NewsStatusId], [Name], [Description]) VALUES (5, N'Опубликовано', N'Новость отображается на сайте')
INSERT [dbo].[NewsStatuses] ([NewsStatusId], [Name], [Description]) VALUES (6, N'Архив', N'Новость скрыта из публичного доступа')
SET IDENTITY_INSERT [dbo].[NewsStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [OrderNumber], [Comments], [TotalAmount], [CreatedAt], [FranchiseId], [UserId], [OrderStatusId], [RegionId], [ContactMethodId], [UsersUserId], [FileId]) VALUES (1, N'ORD-001', N'Интересует франшиза Wildberries в Москве', CAST(1350000.00 AS Decimal(18, 2)), CAST(N'2026-04-09T13:47:16.2033333' AS DateTime2), 1, 3, 1, 1, 1, NULL, NULL)
INSERT [dbo].[Orders] ([OrderId], [OrderNumber], [Comments], [TotalAmount], [CreatedAt], [FranchiseId], [UserId], [OrderStatusId], [RegionId], [ContactMethodId], [UsersUserId], [FileId]) VALUES (2, N'ORD-002', N'Хочу открыть Старик Хинкалич в СПб', CAST(2500000.00 AS Decimal(18, 2)), CAST(N'2026-04-09T13:47:16.2033333' AS DateTime2), 3, 4, 1, 2, 2, NULL, NULL)
INSERT [dbo].[Orders] ([OrderId], [OrderNumber], [Comments], [TotalAmount], [CreatedAt], [FranchiseId], [UserId], [OrderStatusId], [RegionId], [ContactMethodId], [UsersUserId], [FileId]) VALUES (3, N'ORD-003', N'Рассматриваю Додо Пицца в Казани', CAST(3325000.00 AS Decimal(18, 2)), CAST(N'2026-04-09T13:47:16.2033333' AS DateTime2), 4, 5, 2, 3, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatuses] ON 

INSERT [dbo].[OrderStatuses] ([OrderStatusId], [Name]) VALUES (1, N'Новая')
INSERT [dbo].[OrderStatuses] ([OrderStatusId], [Name]) VALUES (2, N'В обработке')
INSERT [dbo].[OrderStatuses] ([OrderStatusId], [Name]) VALUES (3, N'Одобрена')
SET IDENTITY_INSERT [dbo].[OrderStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[PremTypeses] ON 

INSERT [dbo].[PremTypeses] ([PremTypesId], [Name], [MinArea], [Requirements]) VALUES (1, N'Торговый центр', CAST(50.00 AS Decimal(6, 2)), N'Электричество 380В, вода, вентиляция, парковка')
INSERT [dbo].[PremTypeses] ([PremTypesId], [Name], [MinArea], [Requirements]) VALUES (2, N'Отдельное здание', CAST(100.00 AS Decimal(6, 2)), N'Парковка, подъездные пути, складские помещения')
INSERT [dbo].[PremTypeses] ([PremTypesId], [Name], [MinArea], [Requirements]) VALUES (3, N'Стрит-ритейл', CAST(30.00 AS Decimal(6, 2)), N'Витрина, вход с улицы, вывеска')
SET IDENTITY_INSERT [dbo].[PremTypeses] OFF
GO
SET IDENTITY_INSERT [dbo].[PriceHistories] ON 

INSERT [dbo].[PriceHistories] ([PriceHistoryId], [OldPrice], [NewPrice], [ChangeAd], [Reason], [FranchiseId]) VALUES (1, CAST(1500000.00 AS Decimal(18, 2)), CAST(1350000.00 AS Decimal(18, 2)), CAST(N'2026-04-09T13:47:16.2366667' AS DateTime2), N'Сезонная акция', 1)
INSERT [dbo].[PriceHistories] ([PriceHistoryId], [OldPrice], [NewPrice], [ChangeAd], [Reason], [FranchiseId]) VALUES (2, CAST(2800000.00 AS Decimal(18, 2)), CAST(2500000.00 AS Decimal(18, 2)), CAST(N'2026-04-09T13:47:16.2366667' AS DateTime2), N'Специальное предложение', 3)
INSERT [dbo].[PriceHistories] ([PriceHistoryId], [OldPrice], [NewPrice], [ChangeAd], [Reason], [FranchiseId]) VALUES (3, CAST(3500000.00 AS Decimal(18, 2)), CAST(3325000.00 AS Decimal(18, 2)), CAST(N'2026-04-09T13:47:16.2366667' AS DateTime2), N'Корпоративная скидка', 4)
SET IDENTITY_INSERT [dbo].[PriceHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([RegionId], [Name], [RegionCode]) VALUES (1, N'Москва', N'MSK')
INSERT [dbo].[Regions] ([RegionId], [Name], [RegionCode]) VALUES (2, N'Санкт-Петербург', N'SPB')
INSERT [dbo].[Regions] ([RegionId], [Name], [RegionCode]) VALUES (3, N'Казань', N'KZN')
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewId], [Rating], [Text], [CreatedAt], [FranchiseId], [UserId], [ModerStId]) VALUES (1, 5, N'Отличная франшиза! Быстрый запуск и поддержка на всех этапах.', CAST(N'2026-04-09T13:47:16.2200000' AS DateTime2), 1, 3, 2)
INSERT [dbo].[Reviews] ([ReviewId], [Rating], [Text], [CreatedAt], [FranchiseId], [UserId], [ModerStId]) VALUES (2, 4, N'Вкусная кухня, но высокие инвестиции. Окупается долго.', CAST(N'2026-04-09T13:47:16.2200000' AS DateTime2), 3, 4, 2)
INSERT [dbo].[Reviews] ([ReviewId], [Rating], [Text], [CreatedAt], [FranchiseId], [UserId], [ModerStId]) VALUES (3, 5, N'Додо Пицца - лучший выбор для начинающего предпринимателя!', CAST(N'2026-04-09T13:47:16.2200000' AS DateTime2), 4, 5, 2)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (1, N'Гость')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (2, N'Клиент')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (3, N'Администратор')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([TagId], [Name], [Color]) VALUES (1, N'Хит продаж', N'#FF6B6B')
INSERT [dbo].[Tags] ([TagId], [Name], [Color]) VALUES (2, N'Новинка', N'#4ECDC4')
INSERT [dbo].[Tags] ([TagId], [Name], [Color]) VALUES (3, N'Акция', N'#FFE66D')
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Phone], [Email], [Password], [RegisteredAt], [LastLogin], [RoleId], [UserStatusId]) VALUES (1, N'Иван Петров', N'+7 (999) 123-45-67', N'admin@example.com', N'admin123', CAST(N'2026-04-09T13:47:16.1766667' AS DateTime2), CAST(N'2026-04-09T13:47:16.1766667' AS DateTime2), 3, 2)
INSERT [dbo].[Users] ([UserId], [FullName], [Phone], [Email], [Password], [RegisteredAt], [LastLogin], [RoleId], [UserStatusId]) VALUES (2, N'Мария Сидорова', N'+7 (999) 234-56-78', N'manager@example.com', N'manager123', CAST(N'2026-04-09T13:47:16.1766667' AS DateTime2), CAST(N'2026-04-09T13:47:16.1766667' AS DateTime2), 4, 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Phone], [Email], [Password], [RegisteredAt], [LastLogin], [RoleId], [UserStatusId]) VALUES (3, N'Алексей Иванов', N'+7 (999) 345-67-89', N'client1@example.com', N'client123', CAST(N'2026-04-09T13:47:16.1766667' AS DateTime2), NULL, 2, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserStatuses] ON 

INSERT [dbo].[UserStatuses] ([UserStatusId], [Name]) VALUES (1, N'Активен')
INSERT [dbo].[UserStatuses] ([UserStatusId], [Name]) VALUES (2, N'Заблокирован')
INSERT [dbo].[UserStatuses] ([UserStatusId], [Name]) VALUES (3, N'Неактивен')
SET IDENTITY_INSERT [dbo].[UserStatuses] OFF
GO
/****** Object:  Index [IX_Favorites_FranchiseId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Favorites_FranchiseId] ON [dbo].[Favorites]
(
	[FranchiseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorites_UserId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Favorites_UserId] ON [dbo].[Favorites]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Franchises_CategoryId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Franchises_CategoryId] ON [dbo].[Franchises]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Franchises_FranchiserId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Franchises_FranchiserId] ON [dbo].[Franchises]
(
	[FranchiserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Franchises_FranStatusId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Franchises_FranStatusId] ON [dbo].[Franchises]
(
	[FranStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Franchises_FranTypeId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Franchises_FranTypeId] ON [dbo].[Franchises]
(
	[FranTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Franchises_PremTypesId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Franchises_PremTypesId] ON [dbo].[Franchises]
(
	[PremTypesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FranchiseTags_FranchiseId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_FranchiseTags_FranchiseId] ON [dbo].[FranchiseTags]
(
	[FranchiseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FranchiseTags_TagId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_FranchiseTags_TagId] ON [dbo].[FranchiseTags]
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_ContactMethodId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_ContactMethodId] ON [dbo].[Orders]
(
	[ContactMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_FileId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_FileId] ON [dbo].[Orders]
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_FranchiseId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_FranchiseId] ON [dbo].[Orders]
(
	[FranchiseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_OrderStatusId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_OrderStatusId] ON [dbo].[Orders]
(
	[OrderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_RegionId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_RegionId] ON [dbo].[Orders]
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UsersUserId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UsersUserId] ON [dbo].[Orders]
(
	[UsersUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PriceHistories_FranchiseId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_PriceHistories_FranchiseId] ON [dbo].[PriceHistories]
(
	[FranchiseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_FranchiseId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_FranchiseId] ON [dbo].[Reviews]
(
	[FranchiseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_ModerStId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_ModerStId] ON [dbo].[Reviews]
(
	[ModerStId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_UserId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_UserId] ON [dbo].[Reviews]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_UserStatusId]    Script Date: 4/20/2026 6:36:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_UserStatusId] ON [dbo].[Users]
(
	[UserStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Favorites]  WITH NOCHECK ADD  CONSTRAINT [FK_Favorites_Franchises_FranchiseId] FOREIGN KEY([FranchiseId])
REFERENCES [dbo].[Franchises] ([FranchiseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Franchises_FranchiseId]
GO
ALTER TABLE [dbo].[Favorites]  WITH NOCHECK ADD  CONSTRAINT [FK_Favorites_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Users_UserId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_FeedbackStatuses_FeedbackStatusId] FOREIGN KEY([FeedbackStatusId])
REFERENCES [dbo].[FeedbackStatuses] ([FeedbackStatusId])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_FeedbackStatuses_FeedbackStatusId]
GO
ALTER TABLE [dbo].[Franchises]  WITH NOCHECK ADD  CONSTRAINT [FK_Franchises_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Franchises] CHECK CONSTRAINT [FK_Franchises_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Franchises]  WITH NOCHECK ADD  CONSTRAINT [FK_Franchises_Franchisers_FranchiserId] FOREIGN KEY([FranchiserId])
REFERENCES [dbo].[Franchisers] ([FranchiserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Franchises] CHECK CONSTRAINT [FK_Franchises_Franchisers_FranchiserId]
GO
ALTER TABLE [dbo].[Franchises]  WITH NOCHECK ADD  CONSTRAINT [FK_Franchises_FranStatuses_FranStatusId] FOREIGN KEY([FranStatusId])
REFERENCES [dbo].[FranStatuses] ([FranStatusId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Franchises] CHECK CONSTRAINT [FK_Franchises_FranStatuses_FranStatusId]
GO
ALTER TABLE [dbo].[Franchises]  WITH NOCHECK ADD  CONSTRAINT [FK_Franchises_FranTypes_FranTypeId] FOREIGN KEY([FranTypeId])
REFERENCES [dbo].[FranTypes] ([FranTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Franchises] CHECK CONSTRAINT [FK_Franchises_FranTypes_FranTypeId]
GO
ALTER TABLE [dbo].[Franchises]  WITH NOCHECK ADD  CONSTRAINT [FK_Franchises_PremTypeses_PremTypesId] FOREIGN KEY([PremTypesId])
REFERENCES [dbo].[PremTypeses] ([PremTypesId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Franchises] CHECK CONSTRAINT [FK_Franchises_PremTypeses_PremTypesId]
GO
ALTER TABLE [dbo].[FranchiseTags]  WITH NOCHECK ADD  CONSTRAINT [FK_FranchiseTags_Franchises_FranchiseId] FOREIGN KEY([FranchiseId])
REFERENCES [dbo].[Franchises] ([FranchiseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FranchiseTags] CHECK CONSTRAINT [FK_FranchiseTags_Franchises_FranchiseId]
GO
ALTER TABLE [dbo].[FranchiseTags]  WITH NOCHECK ADD  CONSTRAINT [FK_FranchiseTags_Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([TagId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FranchiseTags] CHECK CONSTRAINT [FK_FranchiseTags_Tags_TagId]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_NewsStatuses_NewsStatusId] FOREIGN KEY([NewsStatusId])
REFERENCES [dbo].[NewsStatuses] ([NewsStatusId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_NewsStatuses_NewsStatusId]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_ContactMethods_ContactMethodId] FOREIGN KEY([ContactMethodId])
REFERENCES [dbo].[ContactMethods] ([ContactMethodId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_ContactMethods_ContactMethodId]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Files_FileId] FOREIGN KEY([FileId])
REFERENCES [dbo].[Files] ([FileId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Files_FileId]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Franchises_FranchiseId] FOREIGN KEY([FranchiseId])
REFERENCES [dbo].[Franchises] ([FranchiseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Franchises_FranchiseId]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_OrderStatuses_OrderStatusId] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[OrderStatuses] ([OrderStatusId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatuses_OrderStatusId]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Regions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([RegionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Regions_RegionId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UsersUserId] FOREIGN KEY([UsersUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UsersUserId]
GO
ALTER TABLE [dbo].[PriceHistories]  WITH NOCHECK ADD  CONSTRAINT [FK_PriceHistories_Franchises_FranchiseId] FOREIGN KEY([FranchiseId])
REFERENCES [dbo].[Franchises] ([FranchiseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PriceHistories] CHECK CONSTRAINT [FK_PriceHistories_Franchises_FranchiseId]
GO
ALTER TABLE [dbo].[Reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_Reviews_Franchises_FranchiseId] FOREIGN KEY([FranchiseId])
REFERENCES [dbo].[Franchises] ([FranchiseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Franchises_FranchiseId]
GO
ALTER TABLE [dbo].[Reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_Reviews_ModerSts_ModerStId] FOREIGN KEY([ModerStId])
REFERENCES [dbo].[ModerSts] ([ModerStId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_ModerSts_ModerStId]
GO
ALTER TABLE [dbo].[Reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_Reviews_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_Users_UserStatuses_UserStatusId] FOREIGN KEY([UserStatusId])
REFERENCES [dbo].[UserStatuses] ([UserStatusId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserStatuses_UserStatusId]
GO
USE [master]
GO
